.items {
  display: flex;
  margin: 0;
}
.items li {
  list-style: none;
}
.items li a {
  display: inline-block;
  padding: 0px 10px;
  text-decoration: none;
  color: black;
  transition: all 0.25s;
}
.items li a:hover {
  opacity: 0.75;
}

@media screen and (max-width: 600px) {
  .items {
    flex-direction: column;
    padding: 0;
    margin-top: 20px;
  }
  .items li a {
    display: block;
    padding: 10px 0;
    transition: all 0s;
    font-size: larger;
  }

  .items li a:hover {
    color: white;
    background-color: #ff7b54;
    opacity: 1;
  }
}

.placesDesktop {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}
.placesMobile {
  position: absolute;
  width: 100%;
  /* top: 0; */
  top: 8px;
  background-color: white;
  z-index: 1;
  /* display: none; */
}
