.wraper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.wraper button {
  background-color: inherit;
  border: none;
}

.wraper button:hover {
  cursor: pointer;
}

.Carousel {
  overflow: hidden;
  /* border: 1px solid black;
  border-radius: 10px; */
  width: 80%;
  /* z-index:0;  */
}
.Iterator {
  width: fit-content;
  white-space: nowrap;
  transition: all 0.25s;
  /* transform: translateX(20px); */
}
.Iterator > * {
  display: inline-block;
  /* box-shadow: none; */
  /* margin: 0 10px; */
}
