.navTopDesktop {
  display: flex;
  justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo span {
    font-weight: bolder;
}

.navTopMobile {
    display: flex;
    justify-content: space-between;
}