.cart {
  display: flex;
  justify-content: space-between;
  width: 60px
}

.cart img {
  width: 50%;
}

.cart div {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.circle {
  border-radius: 50%;
  background-color: #ffd56f;
}

.circle span {
  display: block;
  color: white;
  text-align: center;
  font-family: serif;
  font-size: smaller;
}

.active {
  background-color: #ff7b54;
}