
.searchBar{
    display: inline-flex;
    justify-content: space-between;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, .25) ;
    background-color: #F6F6F6;
    border-radius: 10px;
    padding: .25em;
}
.searchBar img {
    width: 5%;
    min-width: 21.20px;
}
.searchBar input {
    width: 90%;
    min-width: 212px;
    border: none;
    background-color: inherit;
}