.cart {
  display: flex;
  justify-content: space-between;

}

.cart div {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffd56f;
  padding: 0 1em;
  border-radius: 50%;
}

.cart div span {
  display: block;
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-size: smaller;
  /* line-height: 0; */
}
.active {
  background-color: #ff7b54;
}
